In [1]:
# Dependencies
import pandas as pd

In [2]:
# Open up csv file from Resources
pymoli_purchase_file = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(pymoli_purchase_file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count
---
* Total number of players

In [3]:
#total_players = num of unique SN's/players in the list, players that made multiple purchases won't get counted more than once
total_players = len(pymoli_df["SN"].unique())
players_df = pd.DataFrame({"Total Players" : [total_players]})
players_df

   Total Players
0            576

# Purchasing Analysis (Total)
---
* Number of unique items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [4]:
unique_items = len(pymoli_df["Item Name"].unique())
avg_price = pymoli_df["Price"].mean()
total_purchases = len(pymoli_df["Purchase ID"])
total_revenue = pymoli_df["Price"].sum()
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price": [avg_price],
                                    "Total Number of Purchases":[total_purchases], "Total Revenue":[total_revenue]})
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format) 
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)
purchase_analysis_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

# Gender Demographics
---
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [5]:
#gender_group = pymoli_df.groupby("Gender")

In [6]:
#drop_duplicates removes duplicates of any player (i.e a player that made multiple purchases that month)
unique_df = pymoli_df.drop_duplicates(subset=["SN"])
genders_count = unique_df["Gender"].value_counts()
genders_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [7]:
genders_percent = (genders_count)/(total_players)
genders_percent

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [8]:
demographics_df = pd.DataFrame({"Total Players":genders_count, "Percent of Playerbase":genders_percent})
demographics_df["Percent of Playerbase"] = demographics_df["Percent of Playerbase"].map("{:,.2%}".format)
demographics_df

                       Total Players Percent of Playerbase
Male                             484                84.03%
Female                            81                14.06%
Other / Non-Disclosed             11                 1.91%

# Purchasing Analysis (Gender)
---
Breaking down by gender:
* Purchase Count
* Average Purchase Data
* Total Purchase Data
* Average Purchase Total per Person by Gender

In [9]:
total_purchases_g = pymoli_df.groupby("Gender").sum()["Price"].rename("Total Purchase Value")
total_purchases_g

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchases, dtype: float64

In [10]:
average_price_g = pymoli_df.groupby("Gender").mean()["Price"].rename("Average Purchase Price")
average_price_g

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

In [11]:
purchase_count_g = pymoli_df.groupby("Gender").count()["Price"].rename("Purchase Count")
purchase_count_g

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [12]:
#use demographics_df instead of pymoli_df to remove chance of duplicates
average_purchases_g = total_purchases_g/demographics_df["Total Players"]
average_purchases_g

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [13]:
purchase_analysis_g_df = pd.DataFrame({"Purchase Count": purchase_count_g, "Average Price": average_price_g, "Total Purchase Value": total_purchases_g, "Avg. Purchase Total per Person": average_purchases_g})
purchase_analysis_g_df["Average Price"] = purchase_analysis_g_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_g_df["Total Purchase Value"] = purchase_analysis_g_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_g_df["Avg. Purchase Total per Person"] = purchase_analysis_g_df["Avg. Purchase Total per Person"].map("${:,.2f}".format)
purchase_analysis_g_df

,Purchase Count,Average Price,Total Purchase Value,Avg. Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics
---
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
bins = (0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,1000)
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [15]:
unique_df["Age Ranges"] = pd.cut(unique_df["Age"], bins, labels=bin_names, include_lowest=True)
unique_df.head()

C:\Users\abhin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [17]:
age_count = unique_df["Age Ranges"].value_counts()
age_count

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Ranges, dtype: int64

In [18]:
age_percent = (age_count)/(total_players)
age_percent

20-24    0.447917
15-19    0.185764
25-29    0.133681
30-34    0.090278
35-39    0.053819
10-14    0.038194
<10      0.029514
40+      0.020833
Name: Age Ranges, dtype: float64

In [19]:
age_demo_df = pd.DataFrame({"Total Count": age_count, "Percentage of Playerbase": age_percent})
age_demo_df= age_demo_df.sort_index(ascending=True)
age_demo_df["Percentage of Playerbase"] = age_demo_df["Percentage of Playerbase"].map("{:,.2%}".format)
age_demo_df

       Total Count Percentage of Playerbase
<10             17                    2.95%
10-14           22                    3.82%
15-19          107                   18.58%
20-24          258                   44.79%
25-29           77                   13.37%
30-34           52                    9.03%
35-39           31                    5.38%
40+             12                    2.08%

#Purchasing Analysis (Age)
---
* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
pymoli_df["Age Ranges"] = pd.cut(pymoli_df["Age"], bins, labels=bin_names, include_lowest=True)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [29]:
purchase_count_a = pymoli_df["Age Ranges"].value_counts().rename("Purchase Count")
purchase_count_a

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Purchase Count, dtype: int64

In [24]:
total_purchases_a = pymoli_df.groupby("Age Ranges").sum()["Price"].rename("Total Purchase Value")
total_purchases_a

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Total Purchase Value, dtype: float64

In [25]:
average_price_a = pymoli_df.groupby("Age Ranges").mean()["Price"].rename("Average Purchase Price")
average_price_a

Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Average Purchase Price, dtype: float64

In [28]:
#age_demo_df table above lists the # of players in each age range, perfect for our average calculation below
average_purchases_a = (total_purchases_a)/age_demo_df["Total Count"]
average_purchases_a

Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [35]:
purchase_analysis_a = pd.DataFrame({"Purchase Count": purchase_count_a, "Total Purchase Value": total_purchases_a, 
                                    "Average Purchase Price": average_price_a, "Avg. Total Purchase per Person": average_purchases_a})
purchase_analysis_a["Average Purchase Price"] = purchase_analysis_a["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysis_a["Avg. Total Purchase per Person"] = purchase_analysis_a["Avg. Total Purchase per Person"].map("${:,.2f}".format)
purchase_analysis_a

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg. Total Purchase per Person
<10,23,77.13,$3.35,$4.54
10-14,28,82.78,$2.96,$3.76
15-19,136,412.89,$3.04,$3.86
20-24,365,1114.06,$3.05,$4.32
25-29,101,293.00,$2.90,$3.81
30-34,73,214.00,$2.93,$4.12
35-39,41,147.67,$3.60,$4.76
40+,13,38.24,$2.94,$3.19

# Top Spenders
---
* SN
* Purchase Count
* Average Purchase Price
* Total Purchase Value

In [47]:
#keep all when using n largest to find ties for 1st,2nd,3rd place, etc. later calculations will show true top 5 spenders
top_purchase_count = pymoli_df["SN"].value_counts().nlargest(5, keep='all').rename("Purchase Count")
top_purchase_count

Lisosia93       5
Idastidru52     4
Iral74          4
Inguron55       3
Raesty92        3
Saistyphos30    3
Umolrian85      3
Asur53          3
Siallylis44     3
Chamjask73      3
Iri67           3
Idai61          3
Rarallo90       3
Lisopela58      3
Tyisur83        3
Ilarin91        3
Hiaral50        3
Phaena87        3
Zontibe81       3
Aina42          3
Phyali88        3
Iskadarya95     3
Sondastsda82    3
Chadolyla44     3
Chanastnya43    3
Tyidaim51       3
Pheodaisun84    3
Lisim78         3
Yathecal82      3
Hada39          3
Silaera56       3
Chamimla85      3
Saedaiphos46    3
Lassilsala30    3
Aelin32         3
Strithenu87     3
Haillyrgue51    3
Ialallo29       3
Name: Purchase Count, dtype: int64

In [69]:
top_total_purchases = pymoli_df.groupby("SN").sum()["Price"].rename("Total Purchase Value") 
#filter to find the top 5 total purchase value
top5_purchases = top_total_purchases.nlargest(5)
top_total_purchases

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Total Purchase Value, Length: 576, dtype: float64

In [70]:
top_mean_purchases = pymoli_df.groupby("SN").mean()["Price"].rename("Average Purchase Price") 
top_mean_purchases

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Average Purchase Price, Length: 576, dtype: float64

In [71]:
#Top 5 spenders from this month, .nlargest(5) on total purchase value
top5_purchases

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Total Purchase Value, dtype: float64

In [72]:
top5_average_price = (top_5_purchases/top_purchase_count).rename("Average Purchase Price")
top5_average_price = top_average_price.dropna(how='any')
top5_average_price

Chamjask73     4.610000
Idastidru52    3.862500
Iral74         3.405000
Iskadarya95    4.366667
Lisosia93      3.792000
dtype: float64

In [86]:
top_spenders_df = pd.DataFrame({"Purchase Count":top_purchase_count, "Total Purchase Value":top5_purchases,
                                "Average Purchase Price":top5_average_price})
top_spenders_df = top_spenders_df.dropna()
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_df.sort_values(by=["Purchase Count"], ascending=False)

             Purchase Count Total Purchase Value Average Purchase Price
Lisosia93                 5               $18.96                  $3.79
Idastidru52               4               $15.45                  $3.86
Iral74                    4               $13.62                  $3.40
Chamjask73                3               $13.83                  $4.61
Iskadarya95               3               $13.10                  $4.37

# Most Popular Items
---
* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

# Most Profitable Items
---
* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame