In [1]:
# Dependencies
import pandas as pd

In [2]:
# Open up csv file from Resources
pymoli_purchase_file = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(pymoli_purchase_file)
#pymoli_df.head()

# Player Count
---
* Total number of players

In [3]:
#total_players = num of unique SN's/players in the list, players that made multiple purchases won't get counted more than once
total_players = len(pymoli_df["SN"].unique())
players_df = pd.DataFrame({"Total Players" : [total_players]})
players_df

   Total Players
0            576

# Purchasing Analysis (Total)
---
* Number of unique items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [4]:
unique_items = len(pymoli_df["Item Name"].unique())
avg_price = pymoli_df["Price"].mean()
total_purchases = len(pymoli_df["Purchase ID"])
total_revenue = pymoli_df["Price"].sum()
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price": [avg_price],
                                    "Total Number of Purchases":[total_purchases], "Total Revenue":[total_revenue]})
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format) 
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)
purchase_analysis_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

# Gender Demographics
---
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [5]:
#gender_group = pymoli_df.groupby("Gender")

In [6]:
#drop_duplicates removes duplicates of any player (i.e a player that made multiple purchases that month)
unique_df = pymoli_df.drop_duplicates(subset=["SN"])
genders_count = unique_df["Gender"].value_counts()
#genders_count

In [7]:
genders_percent = (genders_count)/(total_players)
#genders_percent

In [8]:
demographics_df = pd.DataFrame({"Total Players":genders_count, "Percent of Playerbase":genders_percent})
demographics_df["Percent of Playerbase"] = demographics_df["Percent of Playerbase"].map("{:,.2%}".format)
demographics_df

                       Total Players Percent of Playerbase
Male                             484                84.03%
Female                            81                14.06%
Other / Non-Disclosed             11                 1.91%

# Purchasing Analysis (Gender)
---
Breaking down by gender:
* Purchase Count
* Average Purchase Data
* Total Purchase Data
* Average Purchase Total per Person by Gender

In [9]:
total_purchases_g = pymoli_df.groupby("Gender").sum()["Price"].rename("Total Purchase Value")
#total_purchases_g

In [10]:
average_price_g = pymoli_df.groupby("Gender").mean()["Price"].rename("Average Purchase Price")
#average_price_g

In [11]:
purchase_count_g = pymoli_df.groupby("Gender").count()["Price"].rename("Purchase Count")
#purchase_count_g

In [12]:
#use demographics_df instead of pymoli_df to remove chance of duplicates
average_purchases_g = total_purchases_g/demographics_df["Total Players"]
#average_purchases_g

In [13]:
purchase_analysis_g_df = pd.DataFrame({"Purchase Count": purchase_count_g, "Average Price": average_price_g, "Total Purchase Value": total_purchases_g, "Avg. Purchase Total per Person": average_purchases_g})
purchase_analysis_g_df["Average Price"] = purchase_analysis_g_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_g_df["Total Purchase Value"] = purchase_analysis_g_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_g_df["Avg. Purchase Total per Person"] = purchase_analysis_g_df["Avg. Purchase Total per Person"].map("${:,.2f}".format)
purchase_analysis_g_df

,Purchase Count,Average Price,Total Purchase Value,Avg. Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics
---
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
bins = (0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,1000)
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [15]:
unique_df["Age Ranges"] = pd.cut(unique_df["Age"], bins, labels=bin_names, include_lowest=True)
#unique_df.head()

C:\Users\abhin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
age_count = unique_df["Age Ranges"].value_counts()
#age_count

In [17]:
age_percent = (age_count)/(total_players)
#age_percent

In [18]:
age_demo_df = pd.DataFrame({"Total Count": age_count, "Percentage of Playerbase": age_percent})
age_demo_df= age_demo_df.sort_index(ascending=True)
age_demo_df["Percentage of Playerbase"] = age_demo_df["Percentage of Playerbase"].map("{:,.2%}".format)
age_demo_df

       Total Count Percentage of Playerbase
<10             17                    2.95%
10-14           22                    3.82%
15-19          107                   18.58%
20-24          258                   44.79%
25-29           77                   13.37%
30-34           52                    9.03%
35-39           31                    5.38%
40+             12                    2.08%

#Purchasing Analysis (Age)
---
* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
pymoli_df["Age Ranges"] = pd.cut(pymoli_df["Age"], bins, labels=bin_names, include_lowest=True)
#pymoli_df.head()

In [20]:
purchase_count_a = pymoli_df["Age Ranges"].value_counts().rename("Purchase Count")
#purchase_count_a

In [21]:
total_purchases_a = pymoli_df.groupby("Age Ranges").sum()["Price"].rename("Total Purchase Value")
#total_purchases_a

In [22]:
average_price_a = pymoli_df.groupby("Age Ranges").mean()["Price"].rename("Average Purchase Price")
#average_price_a

In [23]:
#age_demo_df table above lists the # of players in each age range, perfect for our average calculation below
average_purchases_a = (total_purchases_a)/age_demo_df["Total Count"]
#average_purchases_a

In [24]:
purchase_analysis_a = pd.DataFrame({"Purchase Count": purchase_count_a, "Total Purchase Value": total_purchases_a, 
                                    "Average Purchase Price": average_price_a, "Avg. Total Purchase per Person": average_purchases_a})
purchase_analysis_a["Average Purchase Price"] = purchase_analysis_a["Average Purchase Price"].map("${:,.2f}".format)
purchase_analysis_a["Avg. Total Purchase per Person"] = purchase_analysis_a["Avg. Total Purchase per Person"].map("${:,.2f}".format)
purchase_analysis_a

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg. Total Purchase per Person
<10,23,77.13,$3.35,$4.54
10-14,28,82.78,$2.96,$3.76
15-19,136,412.89,$3.04,$3.86
20-24,365,1114.06,$3.05,$4.32
25-29,101,293.00,$2.90,$3.81
30-34,73,214.00,$2.93,$4.12
35-39,41,147.67,$3.60,$4.76
40+,13,38.24,$2.94,$3.19

# Top Spenders
---
* SN
* Purchase Count
* Average Purchase Price
* Total Purchase Value

In [25]:
#keep all when using n largest to find ties for 1st,2nd,3rd place, etc. later calculations will show true top 5 spenders
top_purchase_count = pymoli_df["SN"].value_counts().nlargest(5, keep='all').rename("Purchase Count")
#top_purchase_count

In [26]:
top_total_purchases = pymoli_df.groupby("SN").sum()["Price"].rename("Total Purchase Value") 
#filter to find the top 5 total purchase value
top5_purchases = top_total_purchases.nlargest(5)
#top_total_purchases

In [27]:
#Top 5 spenders from this month, .nlargest(5) on total purchase value
#top5_purchases

In [28]:
top_mean_purchases = pymoli_df.groupby("SN").mean()["Price"].rename("Average Purchase Price") 
#top_mean_purchases

In [29]:
top5_average_price = (top5_purchases/top_purchase_count).rename("Average Purchase Price")
top5_average_price = top5_average_price.dropna(how='any')
#top5_average_price

In [30]:
top_spenders_df = pd.DataFrame({"Purchase Count":top_purchase_count, "Total Purchase Value":top5_purchases,
                                "Average Purchase Price":top5_average_price})
#drop the nas (all SN's from top_purchase_count besides the ones matching the SN's in top5_purchases)
top_spenders_df = top_spenders_df.dropna()
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_spenders_df.sort_values(by=["Purchase Count"], ascending=False)

             Purchase Count Total Purchase Value Average Purchase Price
Lisosia93                 5               $18.96                  $3.79
Idastidru52               4               $15.45                  $3.86
Iral74                    4               $13.62                  $3.40
Chamjask73                3               $13.83                  $4.61
Iskadarya95               3               $13.10                  $4.37

# Most Popular Items
---
* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
items_df = pymoli_df[["Item ID", "Item Name", "Price"]]
#items_df

In [32]:
items_count = items_df.groupby(["Item ID", "Item Name"]).size()
top_items = items_count.nlargest(5).rename("Purchase Count")
#top_items

In [33]:
total_purchases_items = items_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
#total_purchases_items

In [34]:
item_price = total_purchases_items/top_items
#item_price

In [35]:
popular_items_df = pd.DataFrame({"Purchase Count": top_items, "Item Price": item_price,
                                 "Total Purchase Value":total_purchases_items})
popular_items_df["Item Price"] = popular_items_df["Item Price"].map("${:,.2f}".format)
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].map("${:,.2f}".format)
popular_items_df = popular_items_df.dropna(how="any")
popular_items_df.sort_values(by=["Purchase Count"], ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13.0,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,$4.23,$50.76
82,Nirvana,9.0,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9.0,$3.53,$31.77
132,Persuasion,9.0,$3.22,$28.99

# Most Profitable Items
---
* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
#groupby already set up from above
profit_count = items_count.rename("Purchase Count")
#profit_count

In [37]:
#True top 5 items based on revenue/top 5 most profitale items
top5_purchases = total_purchases_items.nlargest(5, keep="all")
#top5_purchases

In [38]:
profit_item_price = (top5_purchases/profit_count).rename("Item Price")
profit_item_price = profit_item_price.dropna()
#profit_item_price

In [39]:
profit_items_df = pd.DataFrame({"Purchase Count": profit_count, "Item Price": profit_item_price, 
                                "Total Purchase Value": top5_purchases})
profit_items_df = profit_items_df.dropna()
profit_items_df["Item Price"] = profit_items_df["Item Price"].map("${:,.2f}".format)
profit_items_df["Total Purchase Value"] = profit_items_df["Total Purchase Value"].map("${:,.2f}".format)
profit_items_df.sort_values(by=["Total Purchase Value"], ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80