In [14]:
# Dependencies
import pandas as pd

In [15]:
# Open up csv file from Resources
pymoli_purchase_file = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(pymoli_purchase_file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count
---

In [16]:
total_players = len(pymoli_df["SN"].unique())
players_df = pd.DataFrame({"Total Players" : [total_players]})
players_df

   Total Players
0            576

# Purchasing Analysis (Total)
---
* Number of unique items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [17]:
unique_items = len(pymoli_df["Item Name"].unique())
avg_price = pymoli_df["Price"].mean()
total_purchases = len(pymoli_df["Purchase ID"])
total_revenue = pymoli_df["Price"].sum()
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price": [avg_price],
                                    "Total Number of Purchases":[total_purchases], "Total Revenue":[total_revenue]})
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format) 
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)
purchase_analysis_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

# Gender Demographics
---
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [70]:
genders_count= gender_group["Gender"].value_counts()
genders_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [71]:
genders_percent = (genders_count)/(total_players)
genders_percent

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [59]:
demographics_df = pd.DataFrame({"Total Players":genders_count, "Percent of Playerbase":genders_percent})
demographics_df["Percent of Playerbase"] = demographics_df["Percent of Playerbase"].map("{:,.2%}".format)
demographics_df

                       Total Players Percent of Playerbase
Male                             484                84.03%
Female                            81                14.06%
Other / Non-Disclosed             11                 1.91%

# Purchasing Analysis (Gender)
---
Breaking down by gender:
* Purchase Count
* Average Purchase Data
* Total Purchase Data
* Average Purchase Total per Person by Gender

In [48]:
total_purchases_g = pymoli_df.groupby("Gender").sum()["Price"].rename("Total Purchases")
total_purchases_g

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchases, dtype: float64

In [49]:
average_price_g = pymoli_df.groupby("Gender").mean()["Price"].rename("Average Purchase Price")
average_price_g

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

In [50]:
purchase_count_g = pymoli_df.groupby("Gender").count()["Price"].rename("Purchase Count")
purchase_count_g

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [51]:
average_purchases_g = total_purchases_g/demographics_df["Total Players"]
average_purchases_g

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [58]:
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count_g, "Average Price": average_price_g,
                                     "Total Purchase Value": total_purchases_g, "Avg. Purchase Total per Person":average_purchases_g })
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:,.2f}".format)
purchase_analysis_df["Total Purchase Value"] = purchase_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_df["Avg. Purchase Total per Person"] = purchase_analysis_df["Avg. Purchase Total per Person"].map("${:,.2f}".format)
purchase_analysis_df

,Purchase Count,Average Price,Total Purchase Value,Avg. Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics
---
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [65]:
bins = (0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100)
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [66]:
pymoli_df["Age Ranges"] = pd.cut(pymoli_df["Age"], bins, labels=bin_names, include_lowest=True)
pymoli_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [69]:
age_count = pymoli_df["Age Ranges"].value_counts()
age_count

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Ranges, dtype: int64

In [72]:
age_percent = (age_count)/(total_players)
age_percent

20-24    0.633681
15-19    0.236111
25-29    0.175347
30-34    0.126736
35-39    0.071181
10-14    0.048611
<10      0.039931
40+      0.022569
Name: Age Ranges, dtype: float64

In [76]:
age_demo_df = pd.DataFrame({"Total COunt": age_count, "Percentage of Playerbase": age_percent})
age_demo_df= age_demo_df.sort_index(ascending=True)
age_demo_df

       Total COunt  Percentage of Playerbase
<10             23                  0.039931
10-14           28                  0.048611
15-19          136                  0.236111
20-24          365                  0.633681
25-29          101                  0.175347
30-34           73                  0.126736
35-39           41                  0.071181
40+             13                  0.022569

# Top Spenders
---
* SN
* Purchase Count
* Average Purchase Price
* Total Purchase Value

# Most Profitable Items
*