In [1]:
# Dependencies
import pandas as pd

In [2]:
# Open up csv file from Resources
pymoli_purchase_file = "Resources/purchase_data.csv"
pymoli_df = pd.read_csv(pymoli_purchase_file)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count
---

In [3]:
total_players = len(pymoli_df["SN"].unique())
players_df = pd.DataFrame({"Total Players" : [total_players]})
players_df

   Total Players
0            576

# Purchasing Analysis (Total)
---
* Number of unique items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [4]:
unique_items = len(pymoli_df["Item Name"].unique())
avg_price = pymoli_df["Price"].mean()
total_purchases = len(pymoli_df["Purchase ID"])
total_revenue = pymoli_df["Price"].sum()
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price": [avg_price],
                                    "Total Number of Purchases":[total_purchases], "Total Revenue":[total_revenue]})
purchase_analysis_df["Average Price"] = purchase_analysis_df["Average Price"].map("${:.2f}".format) 
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.2f}".format)
purchase_analysis_df

,Number of Unique Items,Average Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

# Gender Demographics
---
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [5]:
unique_df = pymoli_df.drop_duplicates(subset=["SN"])

# Purchasing Analysis (Gender)
---
Breaking down by gender:
* Purchase Count
* Average Purchase Data
* Total Purchase Data
* Average Purchase Total per Person by Gender

# Age Demographics